body{
    background: #EBDEF0 ;
}

.bg-purple{
   background-color: #C39BD3;
}

.bg-purpleclear{
   background-color: #D7BDE2 ; 
}

.btn-purpledark{
    background-color: #8E44AD;
}

.table-purple{
   background-color: #C39BD3;
}